.experience{
font-family: monospace;
background-color: black;
color: white;
padding: 30px;
width: 300px;
height: 300px;
float: left;
}

.skills{
font-family: monospace;
color: red;
background-color: blue;
padding: 30px;
width: 300px;
height: 300px;
float: left;
}

.education{
font-family: monospace;
font-weight: bold;
color: blue;
background-color: red;
padding: 30px;
width: 300px;
height: 300px;
float: left;
}

.info{
  font-family: fantasy;
  font-weight: bold;
  color: pink;
  background-color: black;
  text-align: center;
  line-height: 0.8;
  padding: 30px;
  width: 300px;
  height: 300px;
  float: left;
}

.photo{
  margin: 5px;
  border: 1px solid red;
  float: left;
  width: 300px;
}

.desc{
  padding: 30px;
  text-align: center;
}

.sidebar{
  float: right;
  background-color: black;
  color: white;
  padding: 30px;
  font-family: sans-serif;
}
