.experience{
font-family: monospace;
background-color: black;
color: white;
padding: 10px;
}

.skills{
font-family: monospace;
color: red;
background-color: blue;
padding: 20px;
}

.education{
font-family: monospace;
font-weight: bold;
color: blue;
background-color: red;
padding: 20px;
}

.info{
  font-family: fantasy;
  font-weight: bold;
  color: pink;
  background-color: black;
  text-align: center;
  line-height: 0.8;
  padding: 10px;
}
